<form action="post">
    <label for="host">HOST:</label>
    <input type="text" name="host">
    <br>
    <label for="user">USER:</label>

    <input type="text" name="user">
    <br>
    <label for="password">PASSWORD:</label>

    <input type="text" name="password">
    <input type="submit">
</form>